<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produtos</title>
</head>
<body>
<h2>Lista de Produtos</h2>
<table border="1">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ação</th>
    </tr>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.nome}">Produto Nome</td>
        <td th:text="${produto.descricao}">Produto Descrição</td>
        <td th:text="${produto.preco}">Produto Preço</td>
        <td>
            <form th:action="@{/produtos/adicionar/{produtoId}(produtoId=${produto.id})}" method="post">
                <input type="number" name="quantidade" value="1" min="1"/>
                <button type="submit">Adicionar ao Carrinho</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
