<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384...">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Supermercado SPB</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-6 my-2 py-3 text-center mx-auto">

            <img th:src="@{/img/logo.png}" height="300" class="py-3" alt="logo do Supermercado SPB">

            <div class="login py-3">

                <form th:action="@{/registro}" th:object="${user}" method="post">
                    <div class="row">

                        <div class="col-12">
                            <input type="text" placeholder="Digite o seu nome" id="nome" th:field="*{nome}" required>
                        </div>

                        <div class="col-12">
                            <input type="password" placeholder="Digite sua senha" id="senha" th:field="*{senha}" required>
                        </div>

                        <div class="col-12">
                            <label for="admin">Você será um administrador?</label>
                            <select id="admin" th:field="*{admin}">
                                <option value="false" selected>Não</option>
                                <option value="true">Sim</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <button type="submit">Criar registro</button>
                        </div>

                    </div>
                </form>

                <div th:if="${error}">
                    <p style="color: red;" th:text="${error}"></p>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384..."></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384..."></script>
</body>
</html>
